<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

<div class="bg-success fixed-bottom">
    <div class="container">
        <h5 class="text-light mb-0">Grupo 1</h5>
        <p class="text-light m-0"><strong>Falleau, Iván</strong> - <strong>Medina, Alexis</strong> - <strong>Rojas, Oscar</strong></p>
        <p class="text-light text-end m-0">Todos los derechos reservados ®</p>
    </div>
</div>

