{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .titulo{
            text-shadow : 3px 3px 8px black;
        }

        .titulo strong{
            text-shadow : 3px 3px 8px gray;
        }
    </style>

    <title>{% block title %} AdoptGo {% endblock %}</title>
</head>
<body class="inicio">
    {% include 'principal/menuBar.html' %}

    {% block content %} 
        <h1 class="titulo text-center mt-5">Adoptalos a <strong>Todos</strong></h1>
        <div class="d-flex justify-content-center align-item-center">
            <img src="https://www.vippng.com/png/detail/514-5140817_productos-y-servicios-para-mascotas-fondo-animales-domesticos.png" alt="Mascotas" width="50%" class="img img-fluid mt-3">
        </div>
    {% endblock %}

    {% include 'principal/footer.html' %}
</body>
</html>