{% extends 'principal/index.html' %}


{% block title %} Nosotros {% endblock %}

{% block content%}
    <div class="container">
        <h1 class="text-center mt-5">AdoptGo</h1>
        <div class="d-flex justify-content-center align-item-center">
            <div class="w-75 mt-3">
                <p>Somos una asociación que se encarga de unir a <strong>Mascotas en Adopción</strong> con personas responsables
                    y asi hacer feliz a una nueva familia generando una adopción responsable.</p>
            </div>
        </div>
    </div>
{% endblock %}