{% extends 'principal/index.html' %}

{% block title %} Tu Perfil {% endblock %}

{% block content %}

        {% if mis_posts %}

            <h1 class="text-center my-5">Mis Posteos</h1>
            
               <div class="container">
                    <table class="table">
                        <tr>
                            <th scope="col" class="text-center text-success fs-5">Mascota</th>
                            <th scope="col" class="text-center text-success fs-5">Fecha</th>
                            <th scope="col" class="text-center text-success fs-5">Estado</th>
                            <th scope="col" class="text-center text-success fs-5">Postulantes</th>
                        </tr>
                        {% for post in lista_posteos %}
                            <tr>
                                <th class="text-center">{{post.nombre_mascota}}</th>
                                <th class="text-center">{{post.fecha}}</th>
                                {% if post.disponible %}
                                    <th class="text-center">SI</th>
                                    <th class="text-center"><a href="{% url 'verPostulantes' idPost=post.id %}" class="btn btn-success px-5">Ver</a></th>
                                {% else %}
                                    <th class="text-center">NO</th>
                                    <th class="text-center"></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
               </div>
           


        {% else %}
    
            <div class="container">
                    <h1 class="text-center mt-3">{{usuario.first_name}} {{usuario.last_name}}</h1>
                    <h3 class="text-center mt-3">{{usuario.email}}</h3>
                    
                    <div class="d-flex justify-content-center">

                        {% if user.is_authenticated %}

                            {% if user.id != usuario.id %}
                                <a class="btn btn-danger mt-5" href="{% url 'denunciar' usuario=user.id denunciado=usuario.id %}">Denunciar</a>
                            {% endif %}
                            {% if user.id == usuario.id %}
                                <a href="{% url 'mis_posteos' userId=user.id %}" class="btn btn-success m-3">Mis posteos</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-danger mt-5" href="{% url 'login' %}">Denunciar</a>
                        {% endif %}
                        
                    </div>
            </div>
        {% endif %}
    

{% endblock %}